/* CSS cho Icon thư mục khi ấn vào sẽ ẩn thanh sidebar */
#sidebar-col {
    transition: width 1.5s, min-width 1.5s;
    min-width: 200px;
    width: 16.666667%;
    overflow: hidden;
}

#sidebar-col .left-sidebar {
    opacity: 1;
    transition: opacity 1.5s;
}

#sidebar-col.collapsed {
    min-width: 0 !important;
    width: 0 !important;
}

#sidebar-col.collapsed .left-sidebar {
    opacity: 0;
    pointer-events: none;
}

#sidebar-col.collapsed~.col-10 {
    width: 100% !important;
    flex: 0 0 100%;
    max-width: 100%;
    transition: width 1.5s, flex 1.5s, max-width 1.5s;
}

.col-10 {
    transition: width 1.5s, flex 1.5s, max-width 1.5s;
}